// Colors
$black: #151515;
$white: #f1f1f1;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: $black;
    color: $white;
}

// Animation
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

img {
    width: 100%;
}

a:hover {
    opacity: 0.5;
}

i {
    color: #87cefa;
}

// left column
.left {
    padding: 2rem 5%;
    .info {
        h1 {
            font-size: 40px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            padding-bottom: 2rem;
        }
        p {
            line-height: 2.2;
            letter-spacing: 0.1rem;
            padding-bottom: 2rem;
        }
        a {
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid $white;
        }
    }
    .social-links {
        a {
            display: inline-block;
            text-decoration: none;
            text-transform: capitalize;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            margin: 0 .5rem 1rem 0;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $white;
        }
    }
}

// right column
.right {
    padding: 2rem 5% 0;
    #scroll {
        display: none;
    }
    .projects {
        > div {
            padding-bottom: 1rem;
            background-color: #f9f9f9;
            color: $black;
            margin-bottom: 2rem;
            text-align: center;
            .text {
                font-weight: 700;
                font-size: 18px;
                font-family: monospace;
                .first {
                    padding-bottom: .5rem;
                    text-transform: uppercase;
                    background: none;
                    font-size: 16px;
                }
                mark {
                    display: inline-block;
                    margin: 10px 0;
                    padding: 3px 10px;
                    font-size: 12px;
                    background-color: #87cefa;
                    opacity: 0.5;
                    border-radius: 25px;
                }
                a {
                    display: inline-block;
                    color: $black;
                    padding: 0.5rem .2rem; 
                    font-size: 14px;
                }
            }
        }
    }
}

// Project animation
.block {
    transition: all 0.3s ease;
}

.block:hover {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

  
// Media queries
@media screen and (min-width:760px) {
    .left {
        padding: 2rem 10%;
    }
    .right {
        padding: 2rem 10% 0;
        .projects {
            width: 75%;
            margin: 2rem auto;
            > div {
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (min-width:1000px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .left {
        height: 100vh;
        padding: 8rem 10% 0;
        .info {
            .in {
                display: flex;
                justify-content: center;
                .name {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 2rem;
                    align-items: center;
                    h1 {
                        font-size: 40px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding-bottom: 2rem;
                        writing-mode: vertical-rl;
                    }
                    p {
                        line-height: 2.2;
                        letter-spacing: 0.1rem;
                        padding-bottom: 2rem;
                    }
                }
            }
            a {
                margin-bottom: 2rem;
            }
        }
        .social-links {
            a {
                margin: 0 1rem 1rem;
            }
            #tweet {
                margin-left: 0;
            }
        }
    }

    .right {
        display: flex;
        padding: 4rem 15% 0;
        overflow-y: scroll;
        height: 100vh;
        &::after, &::before {
            content: '';
            display: block;
        }
        #scroll {
            position: fixed;
            display: flex;
            right: 6%;
            font-weight: 700;
            letter-spacing: 0.1rem;
            writing-mode: vertical-rl;
            &::after {
                content: "";
                display: block;
                width: 2px;
                height: 90px;
                background-color: $white;
                margin: 1rem auto 0;
            }
        }
        .projects {
            width: 100%;
            margin: 0;
        }
    }
}

@media screen and (min-width:2500px) {
    .left {
        padding: 12rem 8% 0;
        .info {
            h1 {
                font-size: 48px;
            }
            p {
                font-size: 32px;
            }
            a {
                font-size: 16px;
                margin-bottom: 2rem;
            }
        }
        .social-links {
            a {
                font-size: 16px;
                margin: 0 1rem 2rem;
            }
        }
    }

    .right {
        .projects {
            > div {
                .text {
                    .first {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}