*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #151515;
  color: #f1f1f1;
}

.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  width: 100%;
}

a:hover {
  opacity: 0.5;
}

i {
  color: #87cefa;
}

.left {
  padding: 2rem 5%;
}

.left .info h1 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

.left .info p {
  line-height: 2.2;
  letter-spacing: 0.1rem;
  padding-bottom: 2rem;
}

.left .info a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.left .social-links a {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: 700;
  margin: 0 .5rem 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f1f1f1;
}

.right {
  padding: 2rem 5% 0;
}

.right #scroll {
  display: none;
}

.right .projects > div {
  padding-bottom: 1rem;
  background-color: #f9f9f9;
  color: #151515;
  margin-bottom: 2rem;
  text-align: center;
}

.right .projects > div .text {
  font-weight: 700;
  font-size: 18px;
  font-family: monospace;
}

.right .projects > div .text .first {
  padding-bottom: .5rem;
  text-transform: uppercase;
  background: none;
  font-size: 16px;
}

.right .projects > div .text mark {
  display: inline-block;
  margin: 10px 0;
  padding: 3px 10px;
  font-size: 12px;
  background-color: #87cefa;
  opacity: 0.5;
  border-radius: 25px;
}

.right .projects > div .text a {
  display: inline-block;
  color: #151515;
  padding: 0.5rem .2rem;
  font-size: 14px;
}

.block {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.block:hover {
  transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

@media screen and (min-width: 760px) {
  .left {
    padding: 2rem 10%;
  }
  .right {
    padding: 2rem 10% 0;
  }
  .right .projects {
    width: 75%;
    margin: 2rem auto;
  }
  .right .projects > div {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .left {
    height: 100vh;
    padding: 8rem 10% 0;
  }
  .left .info .in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left .info .in .name {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left .info .in .name h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .left .info .in .name p {
    line-height: 2.2;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
  }
  .left .info a {
    margin-bottom: 2rem;
  }
  .left .social-links a {
    margin: 0 1rem 1rem;
  }
  .left .social-links #tweet {
    margin-left: 0;
  }
  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  .mover {
    padding: 0;
    font-size: 1.5vw;
    padding-right: 20px;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }
  @keyframes mover {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
  }
  .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4rem 15% 0;
    overflow-y: scroll;
    height: 100vh;
  }
  .right::after, .right::before {
    content: '';
    display: block;
  }
  .right #scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 1rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .right #scroll::after {
    content: "";
    display: block;
    width: 2px;
    height: 90px;
    background-color: #f1f1f1;
    margin: 1rem auto 0;
  }
  .right .projects {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 2500px) {
  .left {
    padding: 12rem 8% 0;
  }
  .left .info h1 {
    font-size: 48px;
  }
  .left .info p {
    font-size: 32px;
  }
  .left .info a {
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .left .social-links a {
    font-size: 16px;
    margin: 0 1rem 2rem;
  }
  .right .projects > div .text .first {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */